# **Data Profiling szempontok**

- Adattípusok 
- A szám típusú adatok értékeinek vizsgálata
- Termékek darabszáma
- NULL értékek keresése oszloponként

In [18]:
SELECT COLUMN_NAME, DATA_TYPE
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'Termek';

COLUMN_NAME,DATA_TYPE
TERMEKKOD,nvarchar
MEGNEVEZES,nvarchar
KAT_ID,int
LISTAAR,float
LEIRAS,nvarchar
RAKTAR_KOD,int
KESZLET,float
MEGYS,nvarchar
FELVITTE,nvarchar
FELVITEL,date

In [43]:
SELECT 'Minimum' AS Érték, MIN(LISTAAR) AS Listaár, MIN(KESZLET) AS Készlet  FROM Termek
UNION ALL
SELECT 'Átlag', AVG(LISTAAR), AVG(KESZLET) FROM Termek
UNION ALL
SELECT 'Medián', MEDIAN(LISTAAR), MEDIAN(KESZLET) FROM Termek
UNION ALL
SELECT 'Maximum', MAX(LISTAAR), MAX(KESZLET) FROM Termek

In [31]:
SELECT 'Termékek száma', COUNT(DISTINCT(MEGNEVEZES)) 
FROM Termek

(No column name),(No column name)
Termékek száma,543

In [41]:
SELECT 'Termékkód' AS Oszlopnév, COUNT(*) - COUNT(TERMEKKOD) AS 'Üres cellák' FROM Termek 
UNION ALL
SELECT 'Megnevezés', COUNT(*) - COUNT(MEGNEVEZES) FROM Termek 
UNION ALL
SELECT 'Kategória ID', COUNT(*) - COUNT(KAT_ID) FROM Termek 
UNION ALL
SELECT 'Listaár', COUNT(*) - COUNT(LISTAAR) FROM Termek 
UNION ALL
SELECT 'Leirás', COUNT(*) - COUNT(LEIRAS) FROM Termek 
UNION ALL
SELECT 'Raktár kód', COUNT(*) - COUNT(RAKTAR_KOD) FROM Termek 
UNION ALL
SELECT 'Készlet', COUNT(*) - COUNT(KESZLET) FROM Termek 
UNION ALL
SELECT 'Egység', COUNT(*) - COUNT(MEGYS) FROM Termek 
UNION ALL
SELECT 'Felvitte', COUNT(*) - COUNT(FELVITTE) FROM Termek 
UNION ALL
SELECT 'Felvitel', COUNT(*) - COUNT(FELVITEL) FROM Termek 
UNION ALL