In [ ]:
SELECT TIPUS, 
CSILLAGOK_SZAMA AS "Csillagok száma", 
ROUND(AVG('CSILLAGOK_SZAMA'),0) AS 'Átlagos csillagszám'
FROM SZALLASHELY
WHERE 'CSILLAGOK_SZAMA' >= 3 AND TIPUS <> 'panzió'

In [ ]:
SELECT SZALLAS_NEV AS "Szállás neve", COUNT(SZALLAS_NEV) AS 'Foglalások száma'
FROM SZALLASHELY